.storage-main-container {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #f3f3f3;

    .storage-container {
        width: 60vh;
        background-color: #ffff;
        border: 2px solid #DCE0E4;

        border-radius: 100px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        padding: 30px 10px 10px 10px;

        .storage-wrapper {
            width: 90%;
            height: auto;

            display: flex;
            flex-direction: column;
            gap: 40px;

            .header-container {
                width: 100%;
                height: 12%;

                display: flex;
                flex-direction: row;
                justify-content: start;

                .header-wrapper {
                    width: 100%;
                    height: 100%;

                    display: flex;
                    flex-direction: row;
                    justify-content: start;
                    align-items: center;

                    gap: 30px;

                    .storage-icon {
                        height: 80px;
                        width: 80px;

                        background-color: #97A5B9;
                        border-radius: 200px;
                    }

                    .storage-heading-wrapper {
                        width: auto;
                        height: 100%;
                        color: #445266;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: start;
                        // margin-top: -20px;

                        .storage-heading {
                            font-size: 36px;
                            font-weight: 550;
                        }

                    }
                }
            }

            .stats-carousal-container {
                width: 100%;
                height: 200px;
                overflow: hidden;

                .stats-carousal-wrapper {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: row;

                    position: relative;

                    .stats-overview-container {
                        width: 99%;
                        height: auto;
                        min-height: 70%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: #FAFAFA;
                        border: 2px solid #DCE0E4;
                        border-radius: 30px;
                        padding-top: 20px;
                        padding-bottom: 20px;
                        color: #445266;
                        position: absolute;
                        bottom: 0px;

                        transition: all 300ms linear;

                        &.moveBackward {
                            transform: translateY(-25px) scale(0.9);
                        }

                        .stats-overview-wrapper {
                            width: 90%;
                            height: auto;

                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;

                            .numeric-stats-wrapper {
                                width: 50%;
                                height: auto;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                gap: 10px;

                                flex: 70%;

                                .numeric-stats-heading {
                                    font-size: 18px;
                                }

                                .numeric-stats-percentage {
                                    font-size: 54px;
                                    font-weight: 500;
                                }

                                .numeric-stats-description {
                                    font-size: 18px;
                                }
                            }

                            .list-of-elements-wrapper {
                                width: 50%;
                                height: auto;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                align-items: start;
                                flex: 30%;



                            }
                        }
                    }

                    .stats-overview-container-item {
                        width: 99%;
                        height: auto;
                        min-height: 70%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: #FAFAFA;
                        border: 2px solid #DCE0E4;
                        border-radius: 30px;
                        padding-top: 20px;
                        padding-bottom: 20px;
                        color: #445266;

                        position: absolute;
                        bottom: 0px;

                        transition: all 300ms linear;

                        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

                        overflow: hidden;

                        // margin-left: 20px;

                        .stats-item-wrapper {
                            width: 85%;
                            height: auto;

                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;

                            .stats-content {
                                width: 70%;

                                display: flex;
                                flex-direction: column;
                                gap: 20px;

                                .stats-heading {
                                    font-size: 30px;
                                    font-weight: 550;

                                    margin-top: -30px;
                                }

                                .list-of-elements-wrapper {
                                    display: flex;
                                    flex-wrap: wrap;
                                    gap: 20px;
                                }

                            }

                            .stats-visual {
                                width: 50%;

                                .circle1 {
                                    width: 240px;
                                    height: 240px;
                                    border-radius: 1000px;
                                    position: absolute;
                                    right: -60px;
                                    bottom: -70px;

                                    background-color: #F7F7F7;
                                    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;

                                    .circle2 {
                                        width: 210px;
                                        height: 210px;
                                        border-radius: 1000px;

                                        display: flex;
                                        justify-content: center;
                                        align-items: center;

                                        background-color: #FAFAFA;
                                        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

                                        .circle3 {
                                            width: 180px;
                                            height: 180px;
                                            border-radius: 1000px;

                                            display: flex;
                                            justify-content: center;
                                            align-items: center;

                                            background-color: #FDFDFD;
                                            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

                                            .circle4 {
                                                width: 140px;
                                                height: 140px;
                                                border-radius: 1000px;

                                                display: flex;
                                                justify-content: center;
                                                align-items: center;

                                                background-color: #ffffff;
                                                box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

                                                font-size: 44px;
                                                font-weight: 600;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                }
            }

            .stats-bar-wrapper {
                width: 100%;
                height: 30px;

                border-radius: 10px;
                background-color: #FAFAFA;
                border: 2px solid #DCE0E4;

                display: flex;
                position: relative;

                &::before {
                    content: "0%";
                    position: absolute;
                    bottom: -25px;
                }

                &::after {
                    content: "100%";
                    position: absolute;
                    bottom: -25px;
                    right: 0px;
                }

                .stats-highlight {
                    height: 100%;

                    position: relative;

                    transition: all 500ms linear;

                    &::after {
                        content: "0%";
                        position: absolute;
                        bottom: -25px;
                        right: 0px;
                    }

                    &:first-child {
                        border-top-left-radius: 8px;
                        border-bottom-left-radius: 8px;
                    }
                }
            }

            .folder {
                width: 100%;
                height: auto;

                position: relative;

                margin-top: -25px;

                .folder-icon {
                    width: 100%;
                }

                .content-container {
                    // height: calc(79% - 2.5px);
                    // height: calc(67% - 4.5px);
                    height: calc(69% - 3.5px);

                    width: 100%;
                    padding-top: 40px;

                    position: absolute;
                    top: 32.5px;
                    left: 0px;

                    overflow: hidden;
                    border-bottom-left-radius: 34px;
                    border-bottom-right-radius: 34px;

                    .card-item-container {
                        height: 100%;
                        width: auto;

                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        position: absolute;
                        left: 50%;
                        transform: translateX(-33%);
                        bottom: -80px;

                        .card-item {
                            height: 200px;
                            width: 175px;

                            border-radius: 20px;

                            border: 2px solid #DCE0E4;

                            margin-left: -100px;

                            background-color: white;

                            transition: all 0.3s ease;

                            &.selected {
                                transform: translateY(-12px);
                                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                            }

                            .card-item-wrapper {
                                width: 95%;
                                height: 100%;

                                display: flex;
                                flex-direction: column;
                                gap: 20px;
                                padding: 10px;

                                .header-container {
                                    height: auto;
                                    width: 100%;

                                    display: flex;
                                    flex-direction: row;
                                    gap: 10px;

                                    .icon {
                                        height: 50px;
                                        width: 50px;
                                        background-color: rgb(255, 255, 255);
                                        border-radius: 10px;
                                    }

                                    .header-content-wrapper {
                                        width: auto;
                                        height: auto;
                                        display: flex;
                                        flex-direction: column;
                                        gap: 5px;

                                        .header-heading {
                                            height: 20px;
                                            width: 60px;
                                            border-radius: 5px;

                                            background-color: #ffff;

                                        }

                                        .header-description {
                                            width: 90px;
                                            height: 10px;

                                            background-color: #ffff;

                                            border-radius: 10px;
                                        }
                                    }
                                }

                                .card-item-content {
                                    height: 100px;
                                    width: 90%;
                                    background-color: #ffff;

                                    border-top-left-radius: 10px;
                                    border-top-right-radius: 10px;

                                }
                            }
                        }

                    }
                }
            }
        }


    }
}

.list-of-elements-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    .element-dot {
        height: 12px;
        width: 12px;
        background-color: #445266;
        border-radius: 100px;
    }

    .element-name {
        font-size: 16px;
        font-weight: 500;
    }
}

.card-item-container {
    position: relative;
    height: 300px; 
}